.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  padding-top:30px;
  padding-bottom: 50px;
  background-color: #101720;
  opacity: 0,77;
  overflow-x: clip;
  position: relative;
}






