DATABASE_URL="postgresql://user:password@localhost:5432/mydatabase"
DATABASE_URL_UNPOOLED="postgresql://user:password@localhost:5432/mydatabase"
AUTH_SECRET="secret"  #NEXT_AUTH_SECRET


SMTP_PASSWORD = password
SMTP_EMAIL = email