.frame-child,
.frame-item {
  align-self: stretch;
  width: 931px;
  position: relative;
  display: none;
  max-width: 100%;
}
.frame-child {
  background-color: #d9d9d9;
}
.frame-item {
  background-color: var(--color-gray);
}
.frame-inner {
  height: 3.5px;
  width: 0.3px;
  position: absolute;
  margin: 0 !important;
  right: 359.6px;
  bottom: 171.3px;
  object-fit: contain;
}
.frame-child1,
.rectangle-div,
.vector-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.rectangle-div {
  background-color: var(--color-gray);
  display: none;
}
.frame-child1,
.vector-icon {
  z-index: 5;
}
.frame-child1 {
  top: 16px;
  left: 1px;
  width: 452px;
  height: 110px;
  z-index: 6;
}
.frame-child2,
.frame-child3 {
  position: absolute;
  top: 7px;
  left: 0.5px;
  width: 445.5px;
  height: 108.5px;
  z-index: 7;
}
.frame-child3 {
  top: 26px;
  width: 458px;
  height: 111px;
  z-index: 8;
}
.frame-child4,
.frame-child5,
.frame-child6 {
  position: absolute;
  top: -1px;
  left: 507.3px;
  width: 54.5px;
  height: 51.6px;
  object-fit: contain;
  z-index: 8;
}
.frame-child5,
.frame-child6 {
  top: 87.2px;
  left: 524.6px;
  width: 0.3px;
  height: 3.5px;
  z-index: 6;
}
.frame-child6 {
  top: 51.2px;
  left: 509.1px;
  width: 29.2px;
  height: 39.6px;
  z-index: 10;
}
.frame-child7,
.vector-group {
  position: absolute;
  top: 605px;
  left: 44.5px;
  width: 597px;
  height: 148.5px;
}
.frame-child7 {
  top: 558px;
  left: 694.5px;
  width: 193.5px;
  height: 52px;
  z-index: 4;
}
.frame-child8 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  max-height: 100%;
  z-index: 5;
}
.frame-child9 {
  width: 26px;
  height: 13.5px;
  position: relative;
  z-index: 6;
}
.frame-child10,
.frame-child11 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.frame-child10 {
  z-index: 6;
}
.frame-child11 {
  display: none;
}
.vector-parent1 {
  height: 1px;
  width: 1px;
  position: absolute;
  margin: 0 !important;
  right: 50px;
  bottom: 18.5px;
  z-index: 7;
}
.frame-child12,
.frame-child13 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 8;
}
.frame-child13 {
  top: 34px;
  left: 33px;
  width: 49px;
  height: 32px;
  z-index: 9;
}
.vector-parent2 {
  height: 111px;
  flex: 1;
  position: relative;
}
.frame-child14 {
  width: 44px;
  height: 26.5px;
  position: relative;
  z-index: 6;
}
.vector-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 27.5px 0 0;
}
.frame-parent {
  flex: 1;
  flex-direction: row;
  position: relative;
  gap: 7px;
}
.frame-container,
.frame-div,
.frame-parent,
.frame-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-container {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 2px;
}
.frame-div,
.frame-wrapper {
  flex-direction: column;
}
.frame-div {
  align-self: stretch;
  gap: 9px;
}
.frame-wrapper {
  width: 136px;
  padding: 30.5px 0 0;
  box-sizing: border-box;
}
.frame-child15 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 6;
}
.vector-frame {
  height: 130px;
  width: 83.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) 0 0;
  box-sizing: border-box;
}
.frame-child16 {
  height: 109px;
  width: 79px;
  position: relative;
  z-index: 6;
}
.frame-child17 {
  height: 23.5px;
  width: 63.5px;
  position: absolute;
  margin: 0 !important;
  top: 19px;
  left: 0;
  z-index: 13;
}
.vector-container {
  position: absolute;
  top: 274px;
  left: 43px;
  width: 845px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10.5px 0 32px;
  box-sizing: border-box;
  gap: 7.5px;
  max-width: 100%;
}
.frame-child18,
.frame-child19 {
  position: absolute;
  top: 536.5px;
  left: 720px;
  width: 167px;
  height: 45.5px;
  z-index: 6;
}
.frame-child19 {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 7;
}
.frame-child20,
.frame-child21 {
  position: absolute;
  top: 35px;
  left: 105px;
  width: 38px;
  height: 82px;
  z-index: 8;
}
.frame-child21 {
  left: 56px;
  width: 38.5px;
}
.edition-icon,
.vector-parent3 {
  position: absolute;
  top: 355.5px;
  left: 513.5px;
  width: 229px;
  height: 249px;
}
.edition-icon {
  top: 526px;
  left: 745px;
  width: 142px;
  height: 40px;
  z-index: 7;
}
.fourth-edition {
  margin: 0;
  position: absolute;
  color: #ECE8E5;
  top: 565.63px;
  left: 31px;
  font-size: inherit;
  font-style: italic;
  font-weight: 400;
  font-family: inherit;
  transform: rotate(-12.4deg);
  transform-origin: 0 0;
  z-index: 9;
}
.jadavpur-university-e-cell {
  position: absolute;
  color: #ECE8E5;
  top: 209.07px;
  left: 32px;
  font-size: 30px;
  font-weight: 500;
  transform: rotate(-12.7deg);
  transform-origin: 0 0;
  z-index: 7;
}
.frame-child22,
.frame-child23 {
  position: absolute;
  top: 594.1px;
  left: 658.9px;
  width: 60.1px;
  height: 56.8px;
  object-fit: contain;
  z-index: 8;
}
.frame-child23 {
  top: 654.5px;
  left: 742.4px;
  width: 3.3px;
  height: 1.3px;
  z-index: 4;
}
.frame-child24,
.frame-child25 {
  position: absolute;
  top: 653px;
  left: 632px;
  width: 114px;
  height: 39.1px;
  z-index: 6;
}
.frame-child25 {
  top: 597px;
  left: 607px;
  width: 64.2px;
  height: 94.2px;
  object-fit: contain;
  z-index: 9;
}
.frame-child26 {
  position: absolute;
  top: 641.4px;
  left: 709.5px;
  width: 36.5px;
  height: 14.1px;
  z-index: 9;
}
.frame-child27,
.frame-child28 {
  position: absolute;
  top: 592.3px;
  left: 486.9px;
  width: 85.1px;
  height: 119.6px;
  object-fit: contain;
  z-index: 9;
}
.frame-child28 {
  top: 579.7px;
  left: 487.7px;
  width: 91.1px;
  height: 30.2px;
  z-index: 10;
}
.frame-child29,
.frame-child30,
.frame-child31 {
  position: absolute;
  top: 52px;
  left: 43.5px;
  width: 842.5px;
  height: 208.5px;
  z-index: 8;
}
.frame-child30,
.frame-child31 {
  top: 63px;
  height: 208px;
  z-index: 9;
}
.frame-child31 {
  top: 74px;
  left: 43px;
  width: 843px;
  height: 208.5px;
  z-index: 10;
}
.frame-child32,
.frame-child33 {
  position: absolute;
  top: 80px;
  left: 769px;
  width: 66px;
  height: 101px;
  z-index: 4;
}
.frame-child33 {
  top: 98px;
  left: 706px;
  width: 56px;
  height: 102px;
  z-index: 6;
}
.frame-child34,
.frame-child35 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
}
.frame-child35 {
  top: 118px;
  left: 789px;
  width: 18.5px;
  height: 26.5px;
  z-index: 12;
}
.vector-parent4 {
  position: absolute;
  top: 87px;
  left: 43px;
  width: 842.5px;
  height: 206.5px;
}
.frame-child36 {
  height: 94.5px;
  width: 23.5px;
  position: absolute;
  margin: 0 !important;
  top: 23px;
  right: 268.5px;
  z-index: 6;
}
.frame-child37 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 12;
}
.vector-wrapper1,
.vector-wrapper2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.vector-wrapper1 {
  height: 69px;
  width: 182.5px;
  padding: 18px 0 0;
  box-sizing: border-box;
}
.vector-wrapper2 {
  align-self: stretch;
  flex: 1;
  padding: 24px 0 0;
}
.frame-child39 {
  height: 112px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  z-index: 6;
}
.frame-parent1,
.frame-parent2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.frame-parent2 {
  height: 136px;
  width: 209px;
  justify-content: flex-start;
  gap: 8px;
  min-width: 209px;
}
.frame-parent1 {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-child40 {
  width: 231.5px;
  height: 61.5px;
  position: relative;
  z-index: 4;
}
.frame-child41 {
  height: 111.5px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  min-width: 291px;
  z-index: 4;
}
.frame-child42 {
  width: 1px;
  height: 4px;
  position: relative;
  z-index: 6;
}
.vector-parent7,
.vector-wrapper3 {
  display: flex;
  justify-content: flex-start;
}
.vector-wrapper3 {
  height: 44.5px;
  flex-direction: column;
  align-items: flex-start;
}
.vector-parent7 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
  gap: 49px;
  max-width: 100%;
}
.vector-parent6 {
  flex: 1;
  flex-direction: column;
  gap: 44px;
}
.frame-group,
.frame-wrapper1,
.frame-wrapper2,
.vector-parent6 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-wrapper2 {
  width: 499px;
  flex-direction: row;
  padding: 0 1px;
  box-sizing: border-box;
}
.frame-group,
.frame-wrapper1 {
  flex-direction: column;
}
.frame-group {
  align-self: stretch;
  gap: 58px;
}
.frame-wrapper1 {
  flex: 1;
  padding: 34px 0 0;
  box-sizing: border-box;
}
.ellipse-div,
.frame-child43 {
  width: 82.5px;
  height: 102.5px;
  position: relative;
  z-index: 6;
}
.ellipse-div {
  height: 21px;
  width: 21px;
  border-radius: 50%;
  background-color: var(--color-whitesmoke);
  border: 0 solid var(--color-whitesmoke);
  box-sizing: border-box;
  z-index: 8;
}
.ellipse-div,
.frame-child44 {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.frame-child44,
.frame-child45 {
  height: 21px;
  width: 21px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-whitesmoke);
  border: 0 solid var(--color-whitesmoke);
  box-sizing: border-box;
  z-index: 6;
}
.ellipse-parent,
.frame-wrapper4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.ellipse-parent {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-wrapper4 {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 36px 0 43px;
}
.frame-child46 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 5;
}
.frame-parent3 {
  align-self: stretch;
  width: 193px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 56px;
}
.frame-wrapper3 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.vector-parent5,
.vector-parent8 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.vector-parent8 {
  height: 396.5px;
  width: 260.5px;
  flex-direction: column;
  gap: 165.5px;
  min-width: 260.5px;
}
.vector-parent5 {
  position: absolute;
  top: 202px;
  left: 43px;
  width: 844.5px;
  flex-direction: row;
  gap: 53.5px;
  max-width: 100%;
}
.rectangle-group {
  height: 818px;
  flex: 1;
  position: relative;
  background-color: var(--color-gray);
  max-width: 100%;
  z-index: 3;
}
.rectangle-parent,
.vector-parent {
  justify-content: flex-start;
  max-width: 100%;
}
.vector-parent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
}
.rectangle-parent {
  width: 931px;
  background-color: var(--color-gray);
  z-index: 2;
  text-align: left;
  font-size: 64px;
  color: var(--color-whitesmoke);
  font-family: var(--font-inter);
}
.rectangle-parent,
.root,
.wireframe-1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.wireframe-1 {
  flex: 1;
  background: linear-gradient(#101720, #101720), linear-gradient(#ddd, #ddd),
    #fff;
  overflow: hidden;
  justify-content: center;
  padding: 103px var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.root {
  width: 100%;
  position: relative;
  justify-content: flex-start;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 825px) {
  .fourth-edition {
    font-size: 51px;
  }
  .jadavpur-university-e-cell {
    font-size: 24px;
  }
  .vector-parent8 {
    flex: 1;
  }
  .vector-parent5 {
    flex-wrap: wrap;
  }
  .wireframe-1 {
    padding-top: var(--padding-48xl);
    padding-bottom: var(--padding-48xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .vector-container {
    flex-wrap: wrap;
  }
  .fourth-edition {
    font-size: 38px;
  }
  .jadavpur-university-e-cell {
    font-size: 18px;
  }
  .frame-parent2 {
    flex: 1;
  }
  .frame-parent1,
  .vector-parent7 {
    flex-wrap: wrap;
  }
  .frame-wrapper1 {
    min-width: 100%;
  }
  .rectangle-group {
    height: auto;
    min-height: 818;
  }
  .wireframe-1 {
    padding-top: var(--padding-25xl);
    padding-bottom: var(--padding-25xl);
    box-sizing: border-box;
  }
}
