.vectorized-child {
    width: 931px;
    height: 818px;
    position: relative;
    background-color: var(--color-gray-100);
    display: none;
    max-width: 100%;
    z-index: 0;
  }
  .fourth-edition,
  .jadavpur-university-e-cell {
    position: absolute;
    margin: 0 !important;
    display: inline-block;
    transform-origin: 0 0;
  }
  .fourth-edition {
    /* Fourth Edition */
  
    position: absolute;
    width: 424px;
    height: 77px;
    left: -12px;
    top: 512.63px;
  
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;
  
    color: #ECE8E5;
  
    transform: rotate(-12.37deg);
  
  }
  .jadavpur-university-e-cell {
    /* JADAVPUR UNIVERSITY E-CELL */
  
    position: absolute;
    width: 459px;
    height: 36px;
    left: -12px;
    top: 161.07px;
  
    font-family: 'Inter';
    font-style: italic;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
  
    color: #ECE8E5;
  
    transform: rotate(-12.72deg);
  
  }
  .frame-inner,
  .vector-icon {
    position: absolute;
    top: 483.5px;
    left: 1px;
    width: 447px;
    height: 111.5px;
    z-index: 4;
  }
  .vector-icon {
    top: 378px;
    width: 231.5px;
    height: 61.5px;
  }
  .frame-child1,
  .frame-child2,
  .frame-child3 {
    position: absolute;
    top: 506px;
    left: 651.5px;
    width: 193.5px;
    height: 52px;
    z-index: 4;
  }
  .frame-child2,
  .frame-child3 {
    top: 495px;
    width: 193px;
    height: 51.5px;
    z-index: 5;
  }
  .frame-child3 {
    top: 484.5px;
    left: 677px;
    width: 167px;
    height: 45.5px;
    z-index: 6;
  }
  .frame-child4,
  .frame-child5 {
    position: absolute;
    top: 115px;
    left: 769px;
    width: 66px;
    height: 101px;
    z-index: 4;
  }
  .frame-child5 {
    top: 550.5px;
    left: 497px;
    width: 1px;
    height: 4px;
    z-index: 6;
  }
  .frame-child6,
  .frame-child7 {
    position: absolute;
    top: 208px;
    left: 321.5px;
    width: 100.5px;
    height: 112px;
    z-index: 6;
  }
  .frame-child7 {
    top: 184px;
    left: 430px;
  }
  .frame-child8,
  .frame-child9 {
    position: absolute;
    top: 173px;
    left: 552.5px;
    width: 23.5px;
    height: 94.5px;
    z-index: 6;
  }
  .frame-child9 {
    top: 150px;
    left: 584px;
    width: 82.5px;
    height: 102.5px;
  }
  .frame-child10,
  .frame-child11 {
    position: absolute;
    top: 133px;
    left: 706px;
    width: 56px;
    height: 102px;
    z-index: 6;
  }
  .frame-child11 {
    top: 474px;
    left: 702px;
    width: 142px;
    height: 40px;
    z-index: 7;
  }
  .frame-child12,
  .frame-child13 {
    position: absolute;
    top: 542.1px;
    left: 615.9px;
    width: 60.1px;
    height: 56.8px;
    object-fit: contain;
    z-index: 8;
  }
  .frame-child13 {
    top: 602.5px;
    left: 699.4px;
    width: 3.3px;
    height: 1.3px;
    z-index: 4;
  }
  .frame-child14,
  .frame-child15 {
    position: absolute;
    top: 601px;
    left: 589px;
    width: 114px;
    height: 39.1px;
    z-index: 6;
  }
  .frame-child15 {
    top: 545px;
    left: 564px;
    width: 64.2px;
    height: 94.2px;
    object-fit: contain;
    z-index: 9;
  }
  .frame-child16 {
    position: absolute;
    top: 589.4px;
    left: 666.5px;
    width: 36.5px;
    height: 14.1px;
    z-index: 9;
  }
  .frame-child17,
  .frame-child18 {
    position: absolute;
    top: 540.3px;
    left: 443.9px;
    width: 85.1px;
    height: 119.6px;
    object-fit: contain;
    z-index: 9;
  }
  .frame-child18 {
    top: 527.7px;
    left: 444.7px;
    width: 91.1px;
    height: 30.2px;
    z-index: 10;
  }
  .foot-child,
  .foot-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
  }
  .foot-item {
    top: 16px;
    left: 1px;
    width: 452px;
    height: 110px;
    z-index: 6;
  }
  .foot-child1,
  .foot-inner {
    position: absolute;
    top: 7px;
    left: 0.5px;
    width: 445.5px;
    height: 108.5px;
    z-index: 7;
  }
  .foot-child1 {
    top: 26px;
    width: 458px;
    height: 111px;
    z-index: 8;
  }
  .foot-child2,
  .foot-child3,
  .foot-child4 {
    position: absolute;
    top: -1px;
    left: 507.3px;
    width: 54.5px;
    height: 51.6px;
    object-fit: contain;
    z-index: 8;
  }
  .foot-child3,
  .foot-child4 {
    top: 87.2px;
    left: 524.6px;
    width: 0.3px;
    height: 3.5px;
    z-index: 6;
  }
  .foot-child4 {
    top: 51.2px;
    left: 509.1px;
    width: 29.2px;
    height: 39.6px;
    z-index: 10;
  }
  .foot {
    position: absolute;
    top: 553px;
    left: 1.5px;
    width: 597px;
    height: 148.5px;
  }
  .frame-child19,
  .frame-child20 {
    position: absolute;
    top: 0;
    left: 0.5px;
    width: 842.5px;
    height: 208.5px;
    z-index: 8;
  }
  .frame-child20 {
    top: 11px;
    height: 208px;
    z-index: 9;
  }
  .frame-child21,
  .frame-child22 {
    position: absolute;
    top: 22px;
    left: 0;
    width: 843px;
    height: 208.5px;
    z-index: 10;
  }
  .frame-child22 {
    top: 202px;
    width: 182.5px;
    height: 51px;
    z-index: 12;
  }
  .frame-child23,
  .frame-child24,
  .frame-child25 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .frame-child23 {
    left: 1px;
    z-index: 5;
  }
  .frame-child24,
  .frame-child25 {
    left: 0;
  }
  .frame-child24 {
    z-index: 6;
  }
  .frame-child25 {
    display: none;
  }
  .frame-child26,
  .frame-div {
    position: absolute;
    top: 155px;
    left: 85px;
    width: 1px;
    height: 1px;
    z-index: 7;
  }
  .frame-child26 {
    top: 10.5px;
    left: 234.5px;
    width: 79px;
    height: 109px;
    z-index: 6;
  }
  .frame-child27,
  .frame-child28 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 8;
  }
  .frame-child28 {
    top: 34px;
    left: 33px;
    width: 49px;
    height: 32px;
    z-index: 9;
  }
  .vector-parent1 {
    position: absolute;
    top: 63.5px;
    left: 2.5px;
    width: 82.5px;
    height: 111px;
  }
  .frame-child29,
  .frame-child30 {
    position: absolute;
    top: 91px;
    left: 92px;
    width: 44px;
    height: 26.5px;
    z-index: 6;
  }
  .frame-child30 {
    top: 30.5px;
    left: 143.5px;
    width: 83.5px;
    height: 110px;
  }
  .frame-child31,
  .frame-child32 {
    position: absolute;
    top: 41px;
    left: 0;
    width: 26px;
    height: 13.5px;
    z-index: 6;
  }
  .frame-child32 {
    top: 19px;
    width: 63.5px;
    height: 23.5px;
    z-index: 13;
  }
  .frame-child33,
  .vector-container {
    position: absolute;
    top: 222px;
    left: 0;
    width: 845px;
    height: 206.5px;
  }
  .frame-child33 {
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 7;
  }
  .frame-child34,
  .frame-child35 {
    position: absolute;
    top: 35px;
    left: 105px;
    width: 38px;
    height: 82px;
    z-index: 8;
  }
  .frame-child35 {
    left: 56px;
    width: 38.5px;
  }
  .vector-parent2 {
    position: absolute;
    top: 303.5px;
    left: 470.5px;
    width: 229px;
    height: 249px;
  }
  .frame-child36,
  .frame-child37 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
  }
  .frame-child37 {
    top: 118px;
    left: 789px;
    width: 18.5px;
    height: 26.5px;
    z-index: 12;
  }
  .vector-parent3 {
    position: absolute;
    top: 35px;
    left: 0;
    width: 842.5px;
    height: 206.5px;
  }
  .ellipse-div
  {
    box-sizing: border-box;
  
    position: absolute;
    width: 21px;
    height: 21px;
    left: 695px;
    top: 420px;
  
    background: #ECE8E5;
    border: 1px solid #ECE8E5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
  
  }
  .frame-child38{
    /* Ellipse 2 */
  
    box-sizing: border-box;
  
    position: absolute;
    width: 21px;
    height: 21px;
    left: 1020px;
    top: 420px;
  
    background: #ECE8E5;
    border: 1px solid #ECE8E5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
  }
  .frame-child39 {
    /* Ellipse 3 */
  
    box-sizing: border-box;
  
    position: absolute;
    width: 21px;
    height: 21px;
    left: 1066px;
    top: 420px;
  
    background: #ECE8E5;
    border: 1px solid #ECE8E5;
  
  }
  .frame-child38,
  .frame-child39 {
    left: 741px;
    z-index: 6;
  }
  .frame-child39 {
    left: 787px;
  }
  .vector-group,
  .vectorized {
    align-self: stretch;
    position: relative;
  }
  .vector-group {
    height: 701.5px;
  }
  .vectorized {
    flex: 1;
    background-color: var(--color-gray-100);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-33xl) var(--padding-24xl);
    box-sizing: border-box;
    max-width: 100%;
    z-index: 3;
    text-align: left;
    font-size: var(--font-size-45xl);
    color: var(--color-whitesmoke);
    font-family: var(--font-inter);
  }
  @media screen and (max-width: 1050px) {
    .fourth-edition {
      font-size: var(--font-size-32xl);
    }
    .jadavpur-university-e-cell {
      font-size: var(--font-size-5xl);
    }
    .vectorized {
      padding: var(--padding-15xl) var(--padding-2xl);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 450px) {
    .fourth-edition {
      font-size: var(--font-size-19xl);
    }
    .jadavpur-university-e-cell {
      font-size: var(--font-size-lg);
    }
    .vectorized {
      padding-top: var(--padding-3xl);
      padding-bottom: var(--padding-3xl);
      box-sizing: border-box;
    }
  }
  